<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />


  <title>Assignment 2</title>
</head>

<body th:style="'background-image:url(' + @{/image/im.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<section>

  <div class="form-group">

  <%= form_with model: article, class: "my_class" do |form| %>
    <div class="hand"></div>
    <div class="hand rgt"></div>

    <center><h1 ><%=t%></h1></center>
    <div class="form-group">
      <%= form.label :title %><br>
      <%= form.text_field :title %>


    </div>

      <div class="form-group">
        <%= form.label :body %><br>
        <%= form.text_area :body %>
      </div>
    <div class="form-group">
      <%= form.label :image %><br>
      <%= form.file_field :image %><br>
    </div>
    <p class="alert" id="che">Invalid Input</p>
    <div class="action">
      <%= form.submit "Upload" , :class=> "btn"%>
    </div>
  <% end %>
  </div>
  <script>
      function ValidateSize(file) {
          var FileSize = file.files[0].size / 1024 / 1024; // in MiB
          if (FileSize > 8) {
              document.getElementById("che").innerHTML="File size exceeds 2 MiB";
              $('form').addClass('wrong-entry');
              setTimeout(function(){
                  $('form').removeClass('wrong-entry');
              },3000 );
              document.getElementById('image').value= null;
          } else
          {
              document.getElementById("che").innerHTML="Uploaded Successfully";
          }
      }
      $('#image').focusin(function(){
          $('form').addClass('up')
          setTimeout(function(){
              $('form').removeClass('up');
          },3000 );
      });
      $('#image').focusout(function(){
          $('form').removeClass('up')
      });
      $('#Description').focusin(function(){
          $('form').addClass('up')
          setTimeout(function(){
              $('form').removeClass('up');
          },3000 );
      });


      // Panda Eye move
      $( document ).on( "mousemove", function( event ) {
          var x = event.pageX/50;
          var y = event.pageY/25;
          $('.eye-ball').css({
              width : x,
              height : y
          });
      });


      // validation
      $('.btn').click(function()
      {
          var x=document.getElementById("title").value;
          var y=document.getElementById("tags").value;
          var a=document.getElementById("description").value;
          if(x.length<3||y.length<3||a.length<3||a>25||x.length>25||y.length>25)
          {
              document.getElementById("che").innerHTML="Invalid Input";
          }
          else
          {
              document.getElementById("che").innerHTML="Uploaded Successfully";
          }
          setTimeout(function(){
              $('form').removeClass('wrong-entry');
          },3000 );
      });
  </script>

</section>
</body>
</html>