


<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  
  <title> ğˆğ¦ğšğ ğ ğ‡ğ¨ğ¬ğ­ğğ« </title>
  <link rel="shortcut icon" th:href="@{/image/icon.png}">
</head>


<section>
  <br>
  <main>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#"><div><img th:src="@{/image/pic3.png}" class="img"></div></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><span class="link" ><%= link_to "New Article", new_article_path %>&ensp;</span> </li>
            <li> <span >&emsp;&emsp;&emsp;&emsp;</span> </li>
          </ul>
        </div>
      </div>
    </nav>
  </main>

  <main class="grid">

    <% @articles.each do |article| %>
      <article style="color: #ffc107">
        <div>
          <%= image_tag(article.image) if article.image.attached? %>
        </div>
        <div class="text">
         <i>Title:&ensp;</i><span ><%= article.id %></span><br>
          <i>Title:&ensp;</i><span ><%= article.title %></span><br>
          <i>Description:&ensp;</i><span ><%= article.body %></span><br>
          <br>
          <span>

                          <%= link_to "Comment",article, :class => "temp link"%>
                    </span>
          &emsp;
          <span>
                          <%= link_to "Edit", edit_article_path(article), :class => "temp link"%>
                    </span>
          &emsp;
          <span>
            <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "temp link"%>
                    </span>
        </div>
      </article>
    <% end %>

  </main>
</section>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
      $('#image').focusin(function(){
          $('form').addClass('up')
      });
      $('#Description').focusin(function(){
          $('form').addClass('up')
      });
      $('#image').focusout(function(){
          $('form').removeClass('up')
      });
      $('#Description').focusout(function(){
          $('form').removeClass('up')
      });

      // Panda Eye move
      $( document ).on( "mousemove", function( event ) {
          var x = event.pageX/50;
          var y = event.pageY/25;
          $('.eye-ball').css({
              width : x,
              height : y
          });
      });

      // validation


      $('.btn').click(function(){
          $('form').addClass('wrong-entry');
          setTimeout(function(){
              $('form').removeClass('wrong-entry');
          },3000 );
      });
  </script>

</html>